body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#LoginButton {
     border: 1px solid #54443c;
     background-color: #54443c;
     color: #f6f0e9;
 }

#LoginButton:hover {
    background-color: #f6f0e9;
    color: #54443c;
}

.form-check-label{
    margin-left: 5px;
}