body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#LoginButton {
    border: 1px solid #54443c;
    background-color: #54443c;
    color: #f6f0e9;
}

#LoginButton:hover {
    background-color: #f6f0e9;
    color: #54443c;
}
#forgotPassword{
    margin-top: -20px;
}
#error{
    color: red;
    font-size: 40px;
}
#warning{
    font-size: 25px;
}
#retry{
    font-size: 25px;
    margin-right: 200px;
}